.styleline {
  width: 17em;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stylecard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;

}

.bookstyle {
  flex-direction: row;
  display: flex;
  padding: 3px;
  border: solid;
  border: 1px solid black;
  width: 30em;
  align-items: flex-end;
  justify-content: space-between;
}

.styleform{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.styleheaderform{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.styletittleform{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  background: black;
  display: flex;
  flex-direction: column;
  height: 1px;
  height: 1px;
  width: 6em;
  margin-top: 1em;
  align-items: center;
}

