body,
button,
input {
  font-family: cursive;
}

#contact {
  display: none;
  flex-direction: column;
  align-items: center;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #000;
  padding: 0 12px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1em;
  color: #000;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-links li a:hover {
  color: blue;
}

.nav-links li a::after {
  color: blue;
}

.styleline {
  width: 17em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stylecard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  width: 98%;
}

.bookstyle {
  flex-direction: row;
  display: flex;
  padding: 3px;
  border: solid;
  border: 2px solid black;
  width: 98%;
  align-items: flex-end;
  justify-content: space-between;
}

.styleform {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.styleheaderform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styletittleform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  background: black;
  display: flex;
  flex-direction: column;
  height: 1px;
  width: 6em;
  margin-top: 1em;
  align-items: center;
}

.bookstyle:nth-child(even) { background: #ccc; }
.bookstyle:nth-child(odd) { background: #fff; }

footer {
  display: flex;
  justify-content: flex-start;
  border: 3px solid #000;
  color: black;
  bottom: 0;
  margin: 2em 0;
}

#see {
  display: flex;
  flex-direction: column;
}

#time {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
